:root {
  --darkGreyColor: #2d3436;
  --darkPuppleColor: #40407a;
  --darkIvoryColor: #f7f1e3;
  --whiteColor: #ffffff;
  --lightRedColor: #ff5252;
  --lightGreenColor: #33d9b2;
  --lightBlueColor: #34ace0;
  --lightOrangeColor: #ffb142;
  --lightGrey: #d1ccc0;
  --lighterGrey: #e4dfd4;
  --blackColor: #000000;
  --baseGreenColor: #0c3741;
  --baseLighterGreenColor: #035c70;
  --baseYellowColor: #ffc045;
}
