.aside {
  width: 100%;
  color: var(--baseYellowColor);
  background-color: var(--baseLighterGreenColor);
  /* background-color: red; */
}

body.showSubject .aside {
  visibility: visible;
  display: block;
}

body .aside {
  visibility: collapse;
  display: none;
}

.aside .undo {
  visibility: collapse;
  display: none;
}

.aside ul {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.aside ul li {
  margin: 1rem 0;
  padding: 0.5rem;
}

.aside ul li:hover {
  background-color: var(--lightGreenColor);
  color: var(--lightRedColor);
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    overflow-y: auto;
  }

  .aside .undo {
    visibility: visible;
    display: inline-block;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--baseYellowColor);
    color: var(--baseGreenColor);
    width: 100%;
  }

  .aside.showSubject {
    transform: translateX(100%);
    z-index: 10;
  }

  .container.showSubject .topToBottom,
  .container.showSubject .tableOfContents {
    visibility: collapse;
    display: none;
  }

  body.showSubject {
    transform: none;
  }
}
