.breadcrumb {
  display: block;
  background-color: var(--whiteColor);
  margin: 0rem 15rem 1rem 15rem;
  color: var(--darkGreyColor);
  padding: 2rem 0 2rem 0;
  border-bottom: 3px solid var(--baseGreenColor);
  font-size: 1.2rem;
  height: max-content;
}

.breadcrumb .current-location {
  color: var(--lightBlueColor);
}

.breadcrumb a:hover {
  font-weight: bold;
  color: var(--lightRedColor);
}

.breadcrumb .bar {
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .breadcrumb {
    position: static;
    margin: 0 2rem;
  }

  .breadcrumb.showMenu {
    opacity: 0.5;
  }

  .breadcrumb .bar {
    display: inline-block;
  }
}
