.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.15s ease-in-out;
  z-index: 1;
}

.nav {
  background-color: var(--baseGreenColor);
  display: grid;
  grid-template-areas: 'logo menus subjects search';
  grid-template-columns: max-content 1fr max-content max-content;
  color: var(--baseYellowColor);
  font-family: 'Do Hyeon';
}

.nav .basic__home .home {
  visibility: collapse;
  display: none;
}

.nav .nav__column:not(:nth-child(2)) {
  padding: 1rem;
  line-height: 1.5rem;
}

.nav .nav__column:nth-child(1) {
  grid-area: logo;
  font-family: 'Permanent Marker';
}

.nav .nav__column:nth-child(2) {
  grid-area: menus;
}

.nav .nav__column:nth-child(3) {
  grid-area: subjects;
}

.nav .nav__column:nth-child(3):hover {
  background-color: var(--lightGreenColor);
  color: var(--lightRedColor);
}

.nav .nav__column:nth-child(4) {
  grid-area: search;
}

.nav .menuList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav .menu {
  margin: 0 1rem 0 0;
  padding: 1rem;
  line-height: 1.5rem;
}

.nav .menu:hover {
  background-color: var(--lightGreenColor);
  color: var(--lightRedColor);
}

.nav .subjects {
  cursor: pointer;
}

.nav .subjects:hover {
  background-color: var(--lightGreenColor);
  color: var(--lightRedColor);
}

.nav .subjectRightArrow {
  visibility: collapse;
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .navContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
  }

  .nav .basic__home .home {
    visibility: visible;
    display: inline-block;
  }

  .nav .basic__home span {
    visibility: collapse;
    display: none;
  }

  .nav .nav__column {
    width: 100%;
  }

  .nav .nav__column:first-child {
    background-color: var(--baseYellowColor);
    color: var(--baseGreenColor);
  }

  .nav {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav .menu {
    padding: 1rem 1rem;
    width: 100%;
  }

  .navOffSide {
    width: 60%;
    height: 100%;
    flex-grow: 1;
    background-color: rgba(207, 203, 203, 0.45);
  }

  .nav .nav__column:nth-child(2) {
    padding: 0;
  }

  .nav .nav__column:nth-child(2) ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navContainer.showMenu {
    transform: translateX(100vw);
    z-index: 1;
  }

  .nav .subjectRightArrow {
    visibility: visible;
    display: inline-block;
  }

  .nav .subjectArrow {
    visibility: collapse;
    display: none;
  }
}
