.search #searchInput {
  margin: 0 0 1rem 0;
  padding: 0.3rem;
  border: 3px solid var(--lightGreenColor);
  border-radius: 3px;
  outline: none;
}

.search .suggestions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  grid-gap: 2rem;
  width: 100%;
}

.search .suggestions li {
  border-bottom: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
}

.search .suggestions li:hover {
  background-color: var(--lightGreenColor);
}

.search .suggestions__title {
  font-size: 1.5rem;
}

.search .suggestions__description {
  margin-bottom: 0.7rem;
  font-size: 0.8rem;
}

.search .suggestions__shortContents {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.search .suggestions__shortContents code {
  background-color: var(--lightOrangeColor);
  border-radius: 10px;
  padding: 5px;
  font-family: inherit;
}

@media screen and (min-width: 0) and (max-width: 950px) {
  .search .suggestions {
    grid-template-columns: repeat(1, 1fr);
  }
}
