.single {
  padding: 1rem 1rem 1rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.single .main {
  flex-grow: 1;
  /* width: minmax(max-content, 64rem); */
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .single .main {
    flex-grow: 1;
    /* width: minmax(max-content, 64rem); */
  }
}
