@import "_variables.css";
@import "common.css";
@import "nav.css";
@import "aside.css";
@import "single.css";
@import "list.css";
@import "breadcrumb.css";
@import "search.css";
@import "tags.css";
@import "footer.css";
@import "tableOfContents.css";
@import "previousToNext.css";

body .headerContainer {
  position: sticky;
  top: 3.5rem;
  bottom: 0;
  margin-bottom: 4rem;
}

.container {
  margin-top: 1rem;
  padding: 0 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

.container .container__header {
  padding: 0.5rem;
}

.container__middle {
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  body .headerContainer {
    padding-top: 0;
    position: sticky;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .container .header__menu {
    display: inline-block;
    cursor: pointer;
  }

  .container.showMenu {
    opacity: 0.5;
  }
}
