.topToBottom {
  position: fixed;
  top: 40vh;
  right: 0;
  width: fit-content;
  opacity: 0.7;
}

.topToBottom div {
  background-color: var(--baseGreenColor);
  padding: 0.3rem;
  border-radius: 15px;
  width: fit-content;
  color: var(--whiteColor);
  opacity: 0.7;
  cursor: pointer;
}

.topToBottom div:hover {
  opacity: 1;
}

.tableOfContents .miniTableOfContents {
  right: 0;
  display: none;
}

.tableOfContents .fa-list-ul:before {
  visibility: collapse;
}

#TableOfContents:not(:empty) {
  background-color: var(--baseGreenColor);
  position: fixed;
  top: 50vh;
  right: 0;
  padding: 1rem;
  border-radius: 15px;
  color: var(--whiteColor);
  opacity: 0.7;
}

#TableOfContents:not(:empty):hover {
  opacity: 1;
}

#TableOfContents li {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

#TableOfContents li a {
  padding: 0.2rem 0.3rem;
}

#TableOfContents li a:hover {
  color: var(--lightRedColor);
  background-color: var(--lightGreenColor);
}

#TableOfContents li ul li {
  font-size: 1rem;
  padding: 0.3rem 0;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .topToBottom {
    opacity: 1;
    top: 22vh;
  }

  .tableOfContents #TableOfContents {
    display: none;
    opacity: 1;
  }
  .tableOfContents .miniTableOfContents {
    display: none;
    background-color: var(--baseGreenColor);
    position: fixed;
    top: 33vh;
    padding: 0.3rem;
    border-radius: 1rem 1rem 1rem 0;
    color: var(--whiteColor);
    cursor: pointer;
  }

  .tableOfContents .fa-list-ul:before {
    visibility: visible;
  }

  .tableOfContents #TableOfContents.show {
    display: block;
  }

  #TableOfContents li {
    font-size: 0.8rem;
  }

  #TableOfContents li ul li {
    font-size: 0.6rem;
  }

  #TableOfContents:not(:empty) {
    top: 33vh;
  }
}
