<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" .}}

<body>
  {{ partial "nav.html" .}}
  <div class="headerContainer">
    {{ partial "aside.html" .}}
    {{partial "breadcrumb.html" . }}
  </div>
  {{ block "main" . }}{{ end }}
  {{ partial "script.html" .}}
</body>

</html>