{{ define "main" }}
<div class="container single">
  {{ partial "tags.html" .}}
  <div class="main">
    {{ .Content }}
  </div>
  {{partial "topToBottom.html" .}}
  <aside class="tableOfContents">
    {{.TableOfContents }}
    <div class="miniTableOfContents">
      <i class="fas fa-list-ul"></i>
    </div>
  </aside>
  {{ if (or .NextInSection .PrevInSection)}}
  <div class="previousToNext">
      {{ with .NextInSection }}
      <a href="{{ .Permalink }}">◀️ {{ or .Params.displayTitle .Params.Title | truncate 20 "..." }}</a>
      {{ end }}
      {{with  .PrevInSection }}
      <a href="{{ .Permalink }}">{{ or .Params.displayTitle .Params.Title | truncate 20 "..."}} ▶️</a>
      {{ end }}
  </div>
  {{ end }}
  {{ template "_internal/disqus.html" . }}
</div>

{{ end }}