<aside class="aside">
  <div class="undo">
    <div>
      <i class="fas fa-undo-alt"></i>
      <span>돌아가기</span>
  </div>
  </div>
  <ul>
    {{ range .Site.Pages }}
    {{ if (and (eq .Kind "section") (ne .Params.menu true)) }}

   
      <a href="{{.RelPermalink}}">
        <li>
          
          {{ if .Params.displayTitle }}
          {{ print .Params.displayTitle }}
          ({{ len (where .Site.RegularPages "Section" "==" .Section)}})
          {{ else }}
          {{ .Title }}
          ({{ len (where .Site.RegularPages "Section" "==" .Section)}})
          {{ end }}
        </li>
      </a>
    {{ end}}
    {{ end}}
  </ul>
</aside>