<div class="breadcrumb">
  <div class="bar">
    <i class="fas fa-bars"></i>
  </div>
  {{ define "breadcrumb" }}
  {{ with .Parent }}
  {{ template "breadcrumb" . }}
  <a href="{{ .URL }}">
    {{ if .IsHome }}
    Home
    {{ else }}
    {{.Title}}
    {{ end }}
  </a> >
  {{ end }}
  {{ end }}
  {{ if not .IsHome }}
  {{ template "breadcrumb" . }}
  <span class="current-location">
    {{.Title}}
  </span>
  {{ end }}
</div>