<div class="navContainer">
  <nav class="nav">
    <div class="nav__column">
      <a class="basic__home" href="/">
        <div class="home"><i class="fas fa-home"></i> Broccoli</div>
        <span>Developer Broccoli</span>
      </a>
    </div>
    <div class="nav__column">
      <ul class="menuList">
        {{ range .Site.Menus.main }}
        <li class="menu">
          <a href="{{ .URL }}">
            <div class="menu__item">
              {{.Name}}
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <a class="basic__search nav__column" href=/search>
      <i class="fas fa-search"></i>
      <span>검색</span>
    </a>
    <div class="nav__column subjects">
      <span>개발관련</span>
      <span class="subjectArrow">
        <i class="fas fa-chevron-up"></i>
      </span>
      <span class="subjectRightArrow">
        <i class="fas fa-chevron-right"></i>
      </span>
    </div>
  </nav>
  <div class="navOffSide">
  </div>
</div>