{{ $navBarJS := "js/nav__bar.js" | absURL }}
{{ $navMenuJS := "js/nav__menu.js" | absURL }}
{{ $solutionJS := "js/solution.js" | absURL }}
{{ $clipBoardJS := "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"}}
{{ $copyJS := "js/copy.js" | absURL }}
{{ $headingLinkJS := "js/headingLink.js" | absURL }}
{{ $showHideJS := "js/showHide.js" | absURL }}
{{ $tableOfContentsJS := "js/tableOfContents.js" | absURL}}

<script>
  const baseUrl = "{{.Site.BaseURL}}"
</script>
<script src="{{ $headingLinkJS }}"></script>
<script src="{{ $showHideJS }}"></script>
<script src="{{ $navBarJS }}"></script>
<script src="{{ $navMenuJS }}"></script>
<script src="{{ $solutionJS }}"></script>
<script src="{{ $clipBoardJS }}"></script>
<script src="{{ $copyJS }}"></script>
<script src="{{ $tableOfContentsJS }}"></script>