{{ $searchJS := "js/search.js" | absURL }}
<div class="search">
  <input type="text" id="searchInput" placeholder="Search ...">
  <ul class="suggestions"></ul>
</div>
<script src="{{ $searchJS }}"></script>