{{ define "main" }}
<div class="container">
  <!-- {{ partial "breadcrumb.html" . }} -->
  <main class="main index">
    <div class="main__title">
      <h1>{{ .Title }} {{.Site.Params.version}}</h1>
    </div>
    <p class="main__content">
      자바스크립트를 좋아하는❤️ 개발자의 기술블로그입니다. 되도록 매일 매일 컨텐츠를 작성할 생각입니다.
    </p>
    <ul>
      <li>개발관련 메뉴는 기술주제별로 구분하여 작성합니다.</li>
      <li>참고글은 현재 기술주제에 넣기 너무 상세하거나 조금 벗어난 이야기로 추후 기술주제에 들어갈 예정입니다.</li>
    </ul>
    <p class="main__content">
      작성할 주제는 자바스크립트을 많이 활용하는 웹에 관련된 소재가 주이나 그 외 다른 전반적인 기술의 대한 이야기도 있을 수 있습니다.
    </p>
    <p>
      💁 관련 카테고리를 찾기 어려울 경우에는 검색🔎을 활용바랍니다.
    </p>
  </main>
  {{ partial "footer.html" .}}
</div>

{{ end }}