<ul class="downloads">
{{ $file := .Get 0 }}
{{if $file }}
{{range where .Page.Params.resources "title" $file}}
  {{if .download}}
  <li>
    <a target="_blank" href="{{ .src }}" download>
      {{ .title }} 🔽
    </a>
  </li>
  {{end}}
{{end}}
{{else}}
{{range .Page.Params.resources}}
  {{if .download}}
  <li>
    <a target="_blank" href="{{ .src }}" download>
      {{ .title }} 🔽
    </a>
  </li>
  {{end}}
{{end}}
{{end}}

</ul>